/**
 * Copyright 2015 creditease Inc. All rights reserved.
 * @desc 变现购买页样式
 * @author aiweizhang(aiweizhang@creditease.cn)
 * @date 2015/11/22
 */

@charset "utf-8";

.buy-container {
  background-color: #fff;
  color: #666;
  height: 252px;
}

.general-tips {
  background-color: #fff7dd;
  font-weight: bold;
  font-size: 14px;
  color: #f60;
  text-align: center;
  padding: 8px 0;
  font-family: sans-self;
}

.product-info {
  float: left;
  width: 640px;
  height: 100%;
  padding: 20px 20px 0 0;
  box-sizing: border-box;
}

.product-name {
  padding-left: 20px;
}

.product-info-content {
  margin-bottom: 10px;
}

.product-info ul {
  overflow: hidden;
}

.product-info li {
  float: left;
  width: 25%;
  border-left: 1px solid #d9ebf3;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 20px;
}

.product-info li:first-child {
  border-left: none;
}

.info-label {
  margin-bottom: 10px;
  text-align: left;
  font-size: 14px;
}

.info-content {
  color: #f63;
  font-size: 32px;
}

.info-content .unit {
  color: #999;
}

.special-info-content {
  color: #666;
  font-size: 16px;
  line-height: 19px;
}

.buy-progress {
  padding-bottom: 10px;
  border-top: 1px dotted #e6e6e6;
}

.progress-container {
  padding-top: 10px;
  width: 570px;
  margin: 0 auto;
  overflow: hidden;
}

.progress-bar {
  float: left;
  width: 460px;
  height: 14px;
  margin-top: 12px;
  line-height: 14px;
  background-color: #e8ecef;
  border-radius: 7px;
}

.progress-box {
  display: block;
  width: 0;
  height: 100%;
  border-radius: 7px;
  background-color: #0aa8ec;
}

.progress-text {
  float: left;
  color: #0aa8ec;
  font-size: 28px;
  margin-left: 20px;
}

.progress-unit {
  font-size: 14px;
}

.already-buy {
  float: left;
  margin: 6px 0 0 20px;
  font-size: 14px;
}
.available-buy {
  float: right;
  margin-top: 6px;
  font-size: 14px;
}

.already-buy span,
.available-buy span {
  font-size: 18px;
  margin-right: 3px;
  color: #f63;
}

.product-buy {
  float: left;
  width: 550px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 50px 20px;
  background-color: #f6f6f6;
  border-left: 1px solid #dcdcdc;
  font-size: 14px;
}

.buy-control {
  overflow: hidden;
  margin-bottom: 10px;
}

.control-input {
  float: left;
  border: 1px solid #ccc;
  padding: 5px 5px 5px 10px;
  margin-right: 10px;
  background-color: #fff;
}

.control-input.disabled {
  background-color: #EFEFEF;
}

.control-input > input {
  float: left;
  padding: 0;
  border: none;
  height: 28px;
  line-height: 28px;
  color: #666;
  outline: none;
  font-size: 16px;
  width: 160px;
}

.control-input .unit {
  display: block;
  float: left;
  height: 28px;
  line-height: 28px;
  text-align: center;
  min-width: 24px;
}

.all-buy {
  float: left;
  margin: 8px 0 0 5px;
  user-select: none;
}

.all-buy > input,
.all-buy > label,
.all-input > input,
.all-input > label {
  vertical-align: middle;
}

.all-buy > input,
.all-input > input {
  margin: 1px 0 0 0;
}

.buy-tips {
  clear: both;
  height: 16px;
  font-size: 12px;
  color: #0e9ddb;
}

.account-amount {
  overflow: hidden;
  margin-bottom: 6px;
}

.account-amount-content {
  float: left;
  margin-right: 10px;
}

.account-amount-content > span,
.estimate-earnings > span {
  margin-right: 3px;
  color: #f63;
  font-size: 16px;
}

.account-recharge {
  float: left;
}

.recharge {
  display: block;
  height: 20px;
  line-height: 20px;
  padding: 0 10px;
  background-color: #fff;
  border: 1px solid #0aa8ec;
  color: #0aa8ec;
  border-radius: 3px;
}

.recharge:hover {
  color: #0e9ddb;
  border-color: #0e9ddb;
}

.estimate-earnings {
  margin-bottom: 10px;
}

.agreement-intro {
  padding-top: 15px;
  border-top: 1px dotted #e6e6e6;
  margin-bottom: 5px;
  font-size: 12px;
}

.agreement-intro span {
  cursor: pointer;
  color: #1840ea;
  margin-right: 3px;
}

.agreement-intro span:hover {
  text-decoration: underline;
}

.btn-primary {
  background-color: #ff6000;
  color: #fff;
  height: 38px;
  width: 180px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  outline: none;
}

.btn-primary:hover {
  background-color: #ff7800;
}

.btn-disabled {
  cursor: default !important;
  background-color: #ccc !important;
}

.product-detail {
  margin: 20px 0 30px;
  padding: 30px;
  background-color: #fff;
}

.detail-title {
  margin-bottom: 10px; 
  font-size: 30px;
  color: #666;
}

.product-intro {
  padding: 30px 20px;
  background-color: #fafafa;
  font-size: 16px;
}

.product-intro li {
  overflow: hidden;
  padding: 10px 0;
}

.product-intro-label {
  float: left;
  min-width: 130px;
  color: #999;
  text-align: right;
  margin-right: 20px;
}

.product-intro-content {
  float: left;
  color: #666;
}

.product-intro-agreement span {
  color: #1840ea;
  cursor: pointer;
}

.product-intro-agreement span:hover {
  text-decoration: underline;
}