<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Examples</title>
    <!-- build:css /assets/css/iconfont.css -->
    <link rel="stylesheet" href="/assets/css/iconfont.css">
    <!-- endbuild -->
  </head>
  <body>
  <svg>
    <use xlink:href="/assets/svg/icon-symbols.svg#backtop"></use>
  </svg>
  <svg>
    <use xlink:href="/assets/svg/icon-symbols.svg#battery"></use>
  </svg>
  <svg>
    <use xlink:href="/assets/svg/icon-symbols.svg#calculator"></use>
  </svg>
    <!-- build:js /assets/js/main.js -->
    <script src="/dist/assets/js/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
