<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>example</title>
  <!-- build:css /assets/css/index.css -->
  <link rel="stylesheet" href="/dist/assets/css/index.css">
  <!-- endbuild -->
</head>
<body>
  <h1>Hello World!</h1>
  <!-- build:js /assets/js/vendor.js -->
  <script src="/dist/assets/js/vendor.js"></script>
  <!-- endbuild -->
  <!-- build:js /assets/js/common.js -->
  <script src="/dist/assets/js/babelHelpers.js"></script>
  <script src="/dist/assets/js/common.js"></script>
  <!-- endbuild -->
  <!-- build:js /assets/js/main.js -->
  <script src="/dist/assets/js/main.js"></script>
  <!-- endbuild -->
</body>
</html>
