<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>example</title>
  <!-- build:css /assets/css/index.css -->
  <link rel="stylesheet" href="/dist/assets/css/index.css">
  <!-- endbuild -->
</head>
<body>
  <h1>Hello!</h1>
  <!-- build:js /assets/js/lib/vendor.js -->
  <script src="/assets/js/lib/browser-polyfill.js"></script>
  <script src="/assets/js/lib/external-helpers.js"></script>
  <script src="/dist/assets/js/common.js"></script>
  <!-- endbuild -->
  <!-- build:js /assets/js/main.js -->
  <script src="/dist/assets/js/main.js"></script>
  <!-- endbuild -->
</body>
</html>
