<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Examples</title>
    <!-- build:css /assets/css/iconfont.css -->
    <link rel="stylesheet" href="/assets/css/iconfont.css">
    <!-- endbuild -->
    <!-- build:css /assets/css/test.css -->
    <link rel="stylesheet" href="/assets/css/test.css">
    <!-- endbuild -->
  </head>
  <body>
  <svg>
    <use xlink:href="/assets/svg/icon-symbols.svg#backtop"></use>
  </svg>
  <svg>
    <use xlink:href="/assets/svg/icon-symbols.svg#battery"></use>
  </svg>
  <svg>
    <use xlink:href="/assets/svg/icon-symbols.svg#calculator"></use>
  </svg>
    <!-- build:js /assets/js/vendor.js -->
    <script src="/node_modules/babel-polyfill/dist/polyfill.js"></script>
    <script src="/dist/assets/js/vendor.js"></script>
    <!-- endbuild -->
    <!-- build:js /assets/js/common.js -->
    <script src="/dist/assets/js/babelHelpers.js"></script>
    <script src="/dist/assets/js/common.js"></script>
    <!-- endbuild -->
    <!-- build:js /assets/js/provider/main.js inline -->
    <script src="/assets/js/provider/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
