#set($layout = "/common/layout.vm")

## TDK 设置
#set($title = "$!{title}")
#set($description = "$!{description}")
#set($keywords = "$!{keywords}")

#define($head)
<script>
  var __GLOBAL_CONFIG__ = {
    ANNUALIZED_RATE_OF_RETURN: '$!{yearIrr}',
    REMAINING_DAY: '$!{remainDay}',
    ACCOUNT_BALANCE: '$!{freeAmount}',
    AVAILABLE_BUY_AMOUNT: '$!{remainAmount}',
    MIN_BUY_AMOUNT: '$!{minInvestAmount}',
    PRODUCT_ID: '$!{prodNo}',
    PRODUCT_NAME: '$!{prodName}',
    AVAILABLE_CASH:#if($prodAmount == $dealAmount) false#else true#end
  }
</script>
<!-- build:css /assets/css/components.css -->
<link rel="stylesheet" href="/dist/assets/css/common/components.css">
<!-- endbuild -->
<!-- build:css /assets/css/product/buy.css -->
<link rel="stylesheet" href="/dist/assets/css/common/investFlow.css">
<link rel="stylesheet" href="/dist/assets/css/product/buy.css">
<!-- endbuild -->
#end

#define($body)
## 页头
#parse('/common/header.vm')

<div class="main">
  <div class="main-content">
    <div class="invest-flow clearfix">
      <div class="invest-flow-label bold-font">
        <span>购买流程</span>
      </div>
      <div class="invest-flow-content">
        <ul>
          <li>
            <span class="point-dot current"></span>
            <span class="point-name">$!{nowDate}：购买支付</span>
          </li>
          <li>
            <span class="point-dot"></span>
            <span class="point-name">$!{nextJobDate}：产生收益</span>
          </li>
          <li>
            <span class="point-dot"></span>
            <span class="point-name">$!{nextJobDate}：允许变现</span>
          </li>
          <li>
            <span class="point-dot"></span>
            <span class="point-name">$!{deadLine}：到期赎回</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="general-tips">
      当前产品若下单后放弃支付，将无法再次购买！一天累计3次下单后放弃支付，当日无法购买变现贷产品！
    </div>
    <div class="buy-container clearfix">
      <div class="product-info">
        <h2 class="product-name bold-font">$!{prodName}</h2>
        <div class="product-info-content">
          <ul>
            <li>
              <div class="info-label">
                <span>约定年化收益率</span>
              </div>
              <div class="info-content bold-font">
                $!{yearIrr4View}<span class="unit">%</span>
              </div>
            </li>
            <li>
              <div class="info-label">
                <span>剩余天数</span>
              </div>
              <div class="info-content bold-font">
                $!{tremDay}<span class="unit">天</span>
              </div>
            </li>
            <li>
              <div class="info-label">
                <span>起投金额</span>
              </div>
              <div class="info-content bold-font">
                $!{number.format("##,#00.00", $minInvestAmount)}<span class="unit">元</span>
              </div>
            </li>
            <li>
              <div class="info-label">
                <span>还款方式</span>
              </div>
              <div class="info-content special-info-content">
                到期一次性<br>还本付息
              </div>
            </li>
          </ul>
        </div>
        ## 已购买金额
        <div class="buy-progress clearfix">
          <div class="progress-container">
            #if($dealRate > 100)
            #set($dealRate = 100)
            #end
            <div class="progress-bar"><span class="progress-box" style="width:$!{dealRate}%"></span></div>
            <div class="progress-text">$!{dealRate}<span class="progress-unit">%</span></div>
          </div>
          <div class="already-buy">
            已购买金额：<span class="bold-font">$!{number.format('#,##0.00', $dealAmount)}</span>元
          </div>
          <div class="available-buy">
            可购买金额：<span class="bold-font">$!{number.format('#,##0.00', $remainAmount)}</span>元
          </div>
        </div>
      </div>
      <div class="product-buy">
        <div class="buy-control">
          <div class="control-input #if($prodAmount == $dealAmount)disabled#end">
            #*
             * 已登录用户默认值逻辑如下：
             * 1. 当账户小于起投金额，默认值为：起投金额
             * 2. 当账户金额大于最大可投金额，默认值为：最大可投金额
             * 3. 当账户金额范围在起投金额和最大可投金额之间，默认值为：账户金额
             * 未登录用户默认值逻辑如下：
             * 1. 默认值为：起投金额
            *#
            #if($isLogin)
              #if($freeAmount < $minInvestAmount)
                #set($defaults = "$!{minInvestAmount}")
              #elseif($freeAmount > $remainAmount)
                #set($defaults = "$!{remainAmount}")
              #else
                #set($defaults = "$!{freeAmount}")
              #end
            #else
              #set($defaults = "$!{minInvestAmount}")
            #end
            <input
              type="input"
              id="buyAmountInput"
              #if($defaults)
              value="$!{defaults}"
              #end
              placeholder="输入购买金额"
              #if($prodAmount == $dealAmount)
                disabled
              #end
            >
            <span class="unit">元</span>
          </div>
          <div class="all-buy">
            <input type="checkbox" id="allBuyAmount" #if($prodAmount == $dealAmount)disabled#end>
            <label for="allBuyAmount">全部购买</label>
          </div>
          <div class="buy-tips" id="buyTips"></div>
        </div>
        #if($isLogin)
        <div class="account-amount">
          <div class="account-amount-content">
            账户余额：<span>$!{number.format('#,##0.00', $freeAmount)}</span>元
          </div>
          <div class="account-recharge">
            <a href="/account/pcrecharge.shtml" class="recharge">充值</a>
          </div>
        </div>
        #end
        <div class="estimate-earnings">
          预估到期收益：<span id="estimateEarnings">0.00</span>元
        </div>
        <div class="agreement-intro">
          <span data-url="/assets/html/agreement/cashService.html" class="agreement-dialog-btn">《变现服务协议》</span>
          <span data-url="/assets/html/agreement/borrowing.html" class="agreement-dialog-btn">《借款协议》</span>
        </div>
        <div class="btn-group">
          <input type="button" value="同意协议并购买" id="buyBtn" class="btn-primary btn-disabled" #if($prodAmount == $dealAmount)disabled#end>
        </div>
      </div>
    </div>
    <div class="product-detail">
      <h2 class="detail-title bold-font">产品详情</h2>
      <div class="product-content">
        <div class="tabs">
          <ul id="productTabs">
            #if($prodAmount == $dealAmount)
              <li>产品详情</li>
              <li data-tag="buyRecords" class="active">购买记录</li>
            #else
              <li class="active">产品详情</li>
              <li data-tag="buyRecords">购买记录</li>
            #end
          </ul>
        </div>
        <div class="tabs-panel-group" id="tabsPanelGroup">
          <div class="tab-panel #if($prodAmount != $dealAmount)active#end">
            <ul class="product-intro bold-font">
              <li>
                <div class="product-intro-label">产品名称</div>
                <div class="product-intro-content">$!{prodName}</div>
              </li>
              #if(!$userName && !$mobile)
              <li>
                <div class="product-intro-label">变现人信息</div>
                <div class="product-intro-content">
                  $!{userName.substring(0,1)},
                  #if($mobile)
                  $!{mobile.substring(0,3)}*******$!{mobile.substring(10,11)}
                  #end
                </div>
              </li>
              #end
              <li>
                <div class="product-intro-label">约定年化收益率</div>
                <div class="product-intro-content">$!{yearIrr4View}%</div>
              </li>
              <li>
                <div class="product-intro-label">发标日期</div>
                <div class="product-intro-content">$!{applyDate}</div>
              </li>
              <li>
                <div class="product-intro-label">到期日期</div>
                <div class="product-intro-content">$!{deadLine}</div>
              </li>
              <li>
                <div class="product-intro-label">起投金额</div>
                <div class="product-intro-content">$!{number.format('#,##0.00', $minInvestAmount)}元</div>
              </li>
              <li>
                <div class="product-intro-label">最高购买金额</div>
                <div class="product-intro-content">$!{number.format('#,##0.00', $prodAmount)}元</div>
              </li>
              <li>
                <div class="product-intro-label">币种</div>
                <div class="product-intro-content">$!{currencyType}</div>
              </li>
              <li>
                <div class="product-intro-label">可变现日期</div>
                <div class="product-intro-content">$!{realizableDate}</div>
              </li>
              <li>
                <div class="product-intro-label">不可变现日期</div>
                <div class="product-intro-content">$!{unrealizableDate}</div>
              </li>
              <li>
                <div class="product-intro-label">费用</div>
                <div class="product-intro-content">赎回手续费：0.00元</div>
              </li>
              <li>
                <div class="product-intro-label">还款方式</div>
                <div class="product-intro-content">到期一次性还本付息</div>
              </li>
              <li>
                <div class="product-intro-label">相关协议</div>
                <div class="product-intro-content product-intro-agreement">
                  <span data-url="/assets/html/agreement/cashService.html" class="agreement-dialog-btn">《变现服务协议》</span>
                  <span data-url="/assets/html/agreement/borrowing.html" class="agreement-dialog-btn">《借款协议》</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="tab-panel #if($prodAmount == $dealAmount)active#end">
            <div id="buyRecordTable"></div>
            <div id="buyRecordPagination"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

## 页尾
#parse("/common/footer.vm")
#end

#define($bodyScript)
<script src="/dist/assets/js/product/buy/main.js" inline></script>
#end
