#set($layout = "/common/layout.vm")

## TDK 设置
#set($title = "$!{title}")
#set($description = "$!{description}")
#set($keywords = "$!{keywords}")

#define($head)
<script>
  var __GLOBAL_CONFIG__ = {
    INVEST_ID: '$!{cashApply.investNo}',
    PRODUCT_TYPE: '$!{cashApply.prodType}',
    ANNUALIZED_RATE_OF_RETURN: '$!{cashApply.yearIrr}',
    EXPIRE_ASSETS: '$!{cashApply.dueProperty}',
    MIN_INTEREST_RATE: '$!{cashApply.minYearIrr}',
    MAX_INTEREST_RATE: '$!{cashApply.maxYearIrr}',
    MIN_AVAILABLE_CASH: '100',
    MAX_AVAILABLE_CASH: '$!{cashApply.maxEnableCash}',
    SERVICE_CHARGE_RATE: '$!{cashApply.serviceFee}',
    DISCOUNT_RATE: '$!{cashApply.discountRate}',
    TOKEN: '$!{token}',
    CHANNEL_SOURCE: '$!{cashApply.channelSource}',
    EXPIRE_DATE: '$!{cashApply.dueDate}',
    REMAINING_EXPIRE_AMOUNT: '$!{cashApply.totalMoney}',
    REMAINING_DAY: '$!{cashApply.countDay}'
  };
</script>
<!-- build:css /assets/css/components.css -->
<link rel="stylesheet" href="/dist/assets/css/common/components.css">
<!-- endbuild -->
<!-- build:css /assets/css/product/cash.css -->
<link rel="stylesheet" href="/dist/assets/css/common/investFlow.css">
<link rel="stylesheet" href="/dist/assets/css/product/cash.css">
<!-- endbuild -->
#end

#define($body)
## 页头
#parse('/common/header.vm')

<div class="main">
  <div class="main-content">
    <div class="invest-flow clearfix">
      <div class="invest-flow-label bold-font">
        <span>变现流程</span>
      </div>
      <div class="invest-flow-content">
        <ul>
          <li>
            <span class="point-dot current"></span>
            <span class="point-name">$!{cashApply.today}：发起变现</span>
          </li>
          <li>
            <span class="point-dot"></span>
            <span class="point-name">$!{cashApply.today}：变现成功</span>
          </li>
          <li>
            <span class="point-dot"></span>
            <span class="point-name">$!{cashApply.workDay}：最快到帐日</span>
          </li>
          <li>
            <span class="point-dot"></span>
            <span class="point-name">$!{cashApply.getMoneyDate}：最晚到帐日</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="cash-info">
      <h2 class="cash-name">$!{cashApply.prodName}</h2>
      <div class="cash-info-content">
        <ul>
          <li>
            <div class="info-label">
              <span>当前利率可变现金额</span>
            </div>
            <div class="info-content bold-font">
              <span id="availableCashAmount">$!{cashApply.currentHoldAssets}</span><span class="unit">元</span>
            </div>
          </li>
          <li>
            <div class="info-label">
              <span>预期年化收益率</span>
            </div>
            <div class="info-content bold-font">
              $!{cashApply.yearIrrView}<span class="unit">%</span>
            </div>
          </li>
          <li>
            <div class="info-label">
              <span>剩余到期资产</span>
            </div>
            <div class="info-content bold-font">
              $!{number.format('#,##0.00', $cashApply.totalMoney)}<span class="unit">元</span>
            </div>
          </li>
          <li>
            <div class="info-label">
              <span>剩余天数</span>
            </div>
            <div class="info-content bold-font">
              $!{cashApply.juliDays}<span class="unit">天</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-detail">
      <div class="detail-title">
        <h3 class="bold-font">产品详情</h3>
        <em>支持部分成交，即在未全部变现的情况下，当天成交多少金额，则变现成功多少金额，未变现部分第二日可以再次发起变现。</em>
      </div>
      <div class="detail-content">
        <div class="cash-control-group clearfix">
          <label class="bold-font">变现利率</label>
          <div class="cash-control">
            <div class="control-input">
              <input type="text" id="interestRates" value="$!{cashApply.yearIrrView}">
              <span class="unit">%</span>
            </div>
            <div class="rate-btn-group">
              <a href="javascript:;" class="icon-minus#if($cashApply.yearIrr == $cashApply.minYearIrr) disabled#end" id="minusInterestRates"></a>
              <a href="javascript:;" class="icon-plus#if($cashApply.yearIrr == $cashApply.maxYearIrr) disabled#end" id="plusInterestRates"></a>
            </div>
            <div class="also-rate">
              参考变现利率：<span>$!{cashApply.yesterAverageRate}%</span>
              <div class="tooltips" data-tips="过去七日，类似期限的产品成功变现的平均利率">
                <span class="icon-question"></span>
                <i></i>
              </div>
            </div>
            <div class="cash-tips" id="rateTips"></div>
          </div>
        </div>
        <div class="cash-control-group clearfix">
          <label class="bold-font">变现金额</label>
          <div class="cash-control">
            <div class="control-input">
              <input type="text" id="cashAmount" value="" placeholder="请输入变现金额">
              <span class="unit">元</span>
            </div>
            <div class="all-cash">
              <input type="checkbox" id="allCash">
              <label for="allCash">全部变现</label>
            </div>
            <div class="available-cash">
              可变现金额：<span id="maxEnableCash">$!{cashApply.maxEnableCash}</span>元
            </div>
            <div class="cash-tips" id="amountTips"></div>
          </div>
        </div>
        <div class="cash-control-group clearfix">
          <label class="bold-font">手续费</label>
          <div class="cash-control">
            <div class="charge-container">
              <span id="charge" class="charge bold-font">0.00</span>
              <span>元（变现金额$!{cashApply.serviceFeeView}%计算）</span>
            </div>
          </div>
        </div>
        <div class="cash-control-group clearfix">
          <label class="bold-font">到账金额</label>
          <div class="cash-control">
            <div class="estimate-amount">
              <span id="estimateAmount" class="estimate-amount-money bold-font">0.00</span>元
            </div>
            <div class="also-estimate-amount">
              以实际成交金额为准
              <div class="tooltips" data-tips="如未全部变现，则实际到账金额为当天已成交部&#xa;分，未成交部分可以再次发起变现">
                <span class="icon-question"></span>
                <i></i>
              </div>
            </div>
            #*<div class="cash-type">
              <ul>
                <li>
                  <input type="radio" name="cashType" id="oneCash" class="cash-type" checked>
                  <label for="oneCash">一次变现</label>
                  <p class="cash-type-intro">仅限今日按照以上变现利率进行变现今日未变现部分可手动再次发起变现</p>
                </li>
                <li>
                  <input type="radio" name="cashType" id="continueCash" class="cash-type">
                  <label for="continueCash">持续变现</label>
                  <p class="cash-type-intro">保持您设定的变现利率，今日未变现部分次日自动发起变现，直到全部变现完成为止，可到账金额每日重新计算当日无人购买变现产品前，可随时撤销</p>
                </li>
              </ul>
            </div>*#
          </div>
        </div>
        <div class="agreement-intro">
          <span data-url="/assets/html/agreement/cashService.html" class="agreement-dialog-btn">《变现服务协议》</span>
          <span data-url="/assets/html/agreement/borrowing.html" class="agreement-dialog-btn">《借款协议》</span>
        </div>
        <div class="btn-group">
          <input type="button" class="btn-primary bold-font btn-disabled" value="同意协议并变现" id="cashBtn">
        </div>
      </div>
    </div>
    <div class="cash-intro">
      <h3>我最多可以变现多少？</h3>
      <p>您现在持有产品的约定年化收益率为 <em class="highlight">$!{cashApply.yearIrrView}</em>%，持有的产品到期资产价值是（本金加收益）共计<em class="highlight" id="amountValue">$!{cashApply.dueProperty}</em>元，以此为还款来源，您以变现利率<em class="highlight" id="realRate">$!{cashApply.yearIrrView}</em>%发起变现（一年按365天计息），最大可变现金额<em class="highlight" id="maxAvailableCash">$!{cashApply.maxEnableCash}</em>元；</p>
      <p>此次变现<em class="highlight" id="realCashAmount">--</em>元，到期剩余资产价值为<em class="highlight" id="remainingAmount">--</em>。（到期后本次变现的本息偿还将由原持有产品赎回时自动完成归还，无需主动操作）</p>
      <strong>具体公式如下：</strong>
      <p>最高可变现金额 = 按约定年化收益率计算的到期剩余资产价值 ÷（1+ 变现利率 x 剩余天数 ÷ 365）</p>
      <p>到期应付利息=变现金额 x 变现利率 x 剩余天数 ÷ 365</p>
      <p>到期剩余资产价值=本次变现前到期剩余资产价值 - 本次变现金额 - 到期应付利息</p>
      <p>实际到账金额 = 本次变现金额 – 平台服务费</p>
    </div>
  </div>
</div>
## 页尾
#parse("/common/footer.vm")
#end

#define($bodyScript)
<!-- build:js /assets/js/product/cash/main.js -->
<script src="/dist/assets/js/product/cash/main.js"></script>
<!-- endbuild -->
#end