#set($layout = "/common/layout.vm")

## TDK 设置
#set($title = "$!{title}")
#set($description = "$!{description}")
#set($keywords = "$!{keywords}")

#define($head)
<script>
  var __GLOBAL_CONFIG__ = {
    INVEST_NUMBERS: '$!{investNo}'
  }
</script>
<!-- build:css /assets/css/components.css -->
<link rel="stylesheet" href="/dist/assets/css/common/components.css">
<!-- endbuild -->
<!-- build:css /assets/css/product/cashHistory.css -->
<link rel="stylesheet" href="/dist/assets/css/product/cashHistory.css">
<!-- endbuild -->
#end

#define($body)
## 页头
#parse('/common/header.vm')

<div class="main">
  <div class="main-content">
    <div class="product-title clearfix">
      <h1 class="product-name bold-font">$!{prodName}</h1>
      <div class="product-other">
        <a href="/bxt/introduction.html" class="what-is-cash">什么是变现？</a>
      </div>
    </div>
    <div class="cash-analysis">
      <ul class="clearfix">
        <li>
          <div class="analysis-label">
            <span>原始投资到期本息</span>
            <div class="tooltips" data-tips="原始投资到期本息，该笔投资到期后应得本金加利息">
              <span class="icon-question"></span>
              <i></i>
            </div>
          </div>
          <div class="analysis-content bold-font">
            $!{number.format('#,##0.00', $dueAmt)}<span class="unit">元</span>
          </div>
        </li>
        <li>
          <div class="analysis-label">
            <span>已变现金额</span>
          </div>
          <div class="analysis-content bold-font">
            $!{number.format('#,##0.00', $cash)}<span class="unit">元</span>
          </div>
        </li>
        <li>
          <div class="analysis-label">
            <span>剩余投资到期本息</span>
            <div class="tooltips" data-tips="剩余投资到期本息，扣除已变现金额及变现利息&#xa;后到期应得本金加利息">
              <span class="icon-question"></span>
              <i></i>
            </div>
          </div>
          <div class="analysis-content bold-font">
            $!{number.format('#,##0.00', $dueRemainAmt)}<span class="unit">元</span>
          </div>
        </li>
        <li>
          <div class="analysis-label">
            <span>变现申请笔数</span>
          </div>
          <div class="analysis-content bold-font">
              $!{count}<span class="unit">次</span>
          </div>
        </li>
        <li>
          <div class="analysis-label">
            <span>到期日</span>
          </div>
          <div class="analysis-content bold-font">
            <span class="expire-date">$!{dueDate}<span>
          </div>
        </li>
      </ul>
    </div>
    <div class="cash-records">
      <div id="cashHistoryTable"></div>
      <div id="cashHistoryPagination"></div>
    </div>
  </div>
</div>

## 页尾
#parse("/common/footer.vm")
#end

#define($bodyScript)
<!-- build:js /assets/js/product/cashHistory/main.js -->
<script src="/dist/assets/js/product/cashHistory/main.js"></script>
<!-- endbuild -->
#end