@charset "utf-8";

.footer-hd {
  background-color: #3693b3;
}

.footer-bd {
  background-color: #368099;
}

.footer-nav-item a,
.footer-nav-item span,
.qrcode-item,
.copyright,
.service,
.service .hotline {
  color: #fff;
}

.working-hour {
  color: #9bc0cc;
}
