@charset "utf-8";

.topbar {
  background-color: #f8f8f8;
}

.hotline {
  color: #999;
}

.top-navbar {
  color: #999;
}

.top-navbar a {
  color: #999;
  transition: color .3s ease;
}

.top-navbar a:hover,
.top-navbar a:active {
  color: #1f98cc;
}

.top-navbar a.user-name,
.top-navbar a.user-name:hover {
  color: #1f98cc;
}

.login-area {
  border-right: 1px solid #e6e6e6;
}

.header {
  background-color: #fff;
}

.logo a {
  color: #999;
}

.nav a {
  color: #333;
  transition: color .3s ease;
}

.use-arrow:after {
  border-top-color: #999;
  transition: border-top-color .3s ease;
}

.nav .active a.use-arrow:after,
.nav a.use-arrow:hover:after {
  border-top-color: #0bafe6;
}

.nav .active a,
.nav a:hover,
.sub-nav a {
  color: #0bafe6;
}

.sub-nav > ul {
  background-color: #ebfaff;
  border: 1px solid #dcf2fa;
}

.sub-nav a:hover {
  background-color: #b2ecff;
}

.sub-nav li:first-child:before {
  border-bottom-color: #dcf2fa;
}

.sub-nav li:first-child:after {
  border-bottom-color: #ebfaff;
}

.sub-nav li:first-child:hover:after {
  border-bottom-color: #b2ecff;
}
