/**
 * Copyright 2015 creditease Inc. All rights reserved.
 * @desc 变现通首页
 * @author aiweizhang(aiweizhang@creditease.cn)
 * @date 2015/11/22
 */

@charset "utf-8";

/**
 * 轮播图
 */
.banner img {
  vertical-align: middle;
}

.banner {
  height: 360px;
  overflow: hidden;
  position: relative;
  transition: color 2s ease;
  transform: rotate(45deg);
  display: flex;
}

.banner-content {
  position: relative;
  left: 50%;
  height: 100%;
  margin-left: -950px;
}

.banner li {
  position: absolute;
  display: none;
}

.banner li img {
  max-width: 1920px;
}

/**
 * 公告
 */
.notice {
  height: 36px;
  overflow: hidden;
  background-color: #316292;
}

.notice-content {
  width: 1190px;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
	height: 100%;
}

.notice .icon-horns:before {
  position: absolute;
  color: #fff;
  font-size: 20px;
  top: 8px;
}

.close-composited-layer {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

.notice ul {
  margin-left: 30px;
	position: relative;
	z-index: 1; /* 防止影响其他元素也生成Composited Layer */
}

.notice li {
  height: 36px;
  line-height: 36px;
}

.notice li,
.notice a {
  color: #fff;
}

.notice a:hover {
  text-decoration: underline;
}

.index-analysis {
	background-color: #0aa8ec;
	color: #fff;
	padding: 20px 0 20px 7%;
	min-height: 50px;
  margin-top: 10px;
	font-size: 14px;
}

.analysis-item {
	float: left;
	position: relative;
	width: 25%;
	padding-left: 60px;
	box-sizing: border-box;
}

.analysis-item:before {
	font-size: 50px;
	position: absolute;
	left: 0;
}

.analysis-result {
	font-size: 26px;
}

.buy-flow {
	background-color: #fff;
	margin-bottom: 20px;
}

.buy-flow dt {
	width: 160px;
  height: 150px;
	float: left;
	background-color: #fbfbfb;
	color: #999;
	border-right: 1px solid #e9e9e9;
	text-align: center;
	box-sizing: border-box;
}

.buy-flow dt:after {
	content: '';
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

.flow-title {
	display: inline-block;
  max-width: 72%;
  vertical-align: middle;
}

.icon-card {
	vertical-align: middle;
	font-size: 20px;
  height: 20px;
  display: inline-block;
}

.buy-flow dd {
	width: 1030px;
	float: left;
	text-align: center;
	padding-top: 23px;
}

.main-body {
	background-color: #fff;
	position: relative;
	margin-bottom: 20px;
	min-height: 600px;
}

.main-sidebar-wrap {
	position: absolute;
	width: 160px;
	background-color: #fbfbfb;
	border-right: 1px solid #e9e9e9;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
}

.main-sidebar {
	width: 160px;
	position: absolute;
	top: 0;
}

.friendship-mark {
	padding-top: 30px;
	text-align: center;
}

.friendship-icon {
	width: 80px;
	height: 70px;
	margin: 0 auto 15px;
	border-radius: 10px;
	padding-top: 10px;
	background-color: #ffe38e;
	text-align: center;
	color: #930;
	font-size: 14px;
}

.friendship-icon img,
.friendship-icon span {
	display: block;
	margin: 0 auto 5px;
}

.search-subscription-code {
	overflow: hidden;
	padding-left: 14px;
	margin-bottom: 10px;
}

.subscription-input {
	float: left;
	width: 90px;
	height: 20px;
	padding: 3px 5px;
	line-height: 20px;
	border: 1px solid #ccc;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: none;
	outline: none;
}

.subscription-input:hover,
.subscription-input:focus {
	border-color: #bbb;
}

.subscription-btn {
	width: 30px;
	height: 28px;
	float: left;
	background-color: #ff6000;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: none;
	color: #fff;
	padding: 0;
}

.subscription-btn:hover {
	background-color: #ff7800;
}

.what-is-it {
	text-align: center;
	font-size: 14px;
	display: block;
}

.what-is-it a {
	color: #999;
	text-decoration: underline;
}

.what-is-it a:hover {
	color: #666;
	text-decoration: underline;
}

.sidebar-tabs {
	font-size: 14px;
}

.tab-text {
	max-width: 68%;
}

.sidebar-tabs li {
	height: 86px;
	text-align: center;
	border-bottom: 1px solid #e9e9e9;
	color: #999;
	position: relative;
}

.sidebar-tabs li span {
	display: inline-block;
	vertical-align: middle;
}

.sidebar-tabs li:before {
	content: '';
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

.sidebar-tabs li span:before {
	font-size: 24px;
	vertical-align: middle;
	display: inline-block;
	margin: -2px 5px 0 0;
}

.sidebar-tabs li.active,
.sidebar-tabs li:hover {
	background-color: #0aa8ec;
	color: #fff;
}

.sidebar-tabs li.active:after,
.sidebar-tabs li:hover:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	right: -1px;
	top: 50%;
	margin-top: -10px;
	border: 10px dashed transparent;
	border-right-style: solid;
	border-right-color: #fff;
}

.sidebar-tabs-panel-group {
	width: 950px;
	padding: 20px 40px;
	margin-left: 150px;
}

.sidebar-tab-panel {
	display: none;
}

.sidebar-tab-panel.active {
	display: block;
}

.sidebar-tab-header {
	overflow: hidden;
	margin-bottom: 10px;
}

.sidebar-tab-header h2 {
	float: left;
	color: #666;
	font-size: 24px;
}

.product-tips {
	float: right;
	margin-top: 2px;
	font-size: 18px;
	color: #999;
}

.product-tips span {
	display: inline-block;
}

.product-tips span,
.product-tips span img {
	vertical-align: middle;
}

.product-tips span i {
	font-style: normal;
	color: #666;
	font-size: 24px;
	margin: 0 3px;
}

.product-tips span sub {
	top: -.3em;
}

.hand-down {
	margin-top: -3px;
}

.product-filter {
	margin-bottom: 10px;
}


.cp-table .progress-bar {
  display: inline-block;
  width: 100px;
  background-color: #e8ecef;
  height: 12px;
  border-radius: 8px;
  vertical-align: middle;
  margin-right: 6px;
	text-align: left;
  line-height: 12px;
  overflow: hidden;
  float: left;
}

.cp-table .progress-value {
  float: right;
}

.cp-table .progress-bar span {
  display: inline-block;
	height: 100%;
	background-color: #30afe0;
	border-radius: 8px;
}

.cp-table .table-operation-btn {
	display: inline-block;
	width: 80px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	background-color: #ff6000;
	border-radius: 5px;
  cursor: pointer;
}

.cp-table .table-operation-btn:hover {
	background-color: #ff7800;
}

/* 仪表盘 */

.gauge,
.gauge-mask,
.gauge-annular,
.gauge-pointer,
.gauge-dial-plate,
.gauge-dial-plate-content {
  position: absolute;
  background: url(/assets/img/gauge.png) no-repeat;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .gauge,
  .gauge-mask,
  .gauge-annular,
  .gauge-pointer,
  .gauge-dial-plate,
  .gauge-dial-plate-content {
    background-image: url(/assets/img/gauge@2x.png);
    background-size: 2125px 456px;
  }
}

.gauge {
  left: 50%;
  bottom: -194px;
  margin-left: -550px;
  width: 446px;
  height: 446px;
  background-position: 1px 0;
}

.gauge-mask {
  left: 0;
  top: 0;
  width: 446px;
  height: 446px;
  background-position: -458px 0;
}

.gauge-annular {
  position: absolute;
  left: 18px;
  top: 18px;
  width: 408px;
  height: 408px;
  background-position: -923px 0;
}

.gauge-pointer {
  left: 69px;
  top: 60px;
  width: 310px;
  height: 310px;
  background-position: -1916px 36px;
}

.gauge-dial-plate {
  width: 353px;
  left: 47px;
  top: 45px;
  height: 353px;
  background-position: -1340px 5px;
}

.gauge-dial-plate-content {
  left: 121px;
  top: 119px;
  width: 206px;
  height: 206px;
  background-position: -1705px 0;
}

.gauge-text,
.gauge-tips {
  display: block;
  color: #069;
  text-align: center;
}

.gauge-text {
  height: 60px;
  margin-top: 30px;
  font-size: 48px;
}

.gauge-tips {
  font-size: 16px;
}

.question-center {
  background-color: #fff;
}

.question-title {
  position: relative;
  padding-top: 20px;
  margin-bottom: 20px;
}

.question-title:after {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 100%;
  border-bottom: 1px dotted #c7d2db;
  margin-top: -13px;
}

.question-title > h3 {
  display: inline-block;
  padding: 0 10px;
  margin-left: 60px;
  font-size: 18px;
  color: #999;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.question-tabs {
  margin: 0 30px;
}

.question-tabs-panel-group {
  padding: 20px 0;
  margin: 0 50px;
}

.question-list {
  font-size: 14px;
  color: #666;
}

.question-list dt {
  font-weight: bold;
  margin-bottom: 5px;
}

.question-list dd {
  margin-bottom: 20px;
}

.question-list ol {
  counter-reset: count;
}

.question-list li {
  counter-increment: count;
  margin-bottom: 5px;
}

.question-list ol li:before {
  content: "(" counter(count) ")";
  display: inline-block;
  margin: -2px 5px 0 0;
}
