.cerf {
  background-image: url(/assets/img/animal/cerf.game@2x.png);
  background-size: 100% auto;
}

.bear {
  background-image: url(/assets/img/animal/bear.game@2x.png);
  background-size: 100% auto;
}

.yak {
  background-image: url(/assets/img/yak.game@2x.png);
  background-size: 100% auto;
}
