.cerf {
  background-image: url(/assets/img/animal/cerf@2x.png?__group=game);
  background-size: 100% auto;
}

.bear {
  background-image: url(/assets/img/animal/bear@2x.png?__group=game);
  background-size: 100% auto;
}

.yak {
  background-image: url(/assets/img/yak@2x.png?__group=game);
  background-size: 100% auto;
}
