<div class="footer">
  <div class="footer-hd">
    <div class="footer-content">
      <div class="footer-nav">
        <dl class="footer-nav-item">
          <dt><a href="/about.shtml">关于我们</a></dt>
          <dd>
            <ul>
              <li><a href="/bbs/information.shtml">投米资讯</a></li>
              <li><a href="/contact.shtml">联系我们</a></li>
            </ul>
          </dd>
        </dl>
        <dl class="footer-nav-item">
          <dt><a href="/invest.shtml">我要理财</a></dt>
          <dd>
            <ul>
              <li><a href="/lt.shtml">零投宝</a></li>
              <li><a href="/cbb.shtml">猜宝宝</a></li>
              <li><a href="/hdb.shtml">还贷宝</a></li>
              <li><a href="/sxb/index.html?param=$!{userId}">随心宝</a></li>
            </ul>
          </dd>
        </dl>
        <dl class="footer-nav-item">
          <dt><a href="/bxt/index.html">变现专区</a></dt>
          <dd>
            <ul>
              <li><a href="/bxt/index.html">变现通</a></li>
              <li><a href="/bxt/introduction.html" target="_blank">新手指引</a></li>
            </ul>
          </dd>
        </dl>
        <dl class="footer-nav-item">
          <dt><a href="/safeguard.shtml">安全保障</a></dt>
          <dd>
            <ul>
              <li><a href="/safeguard.shtml">资金保障</a></li>
              <li><a href="/safeguard.shtml">风险保障</a></li>
              <li><a href="/safeguard.shtml">隐私保障</a></li>
            </ul>
          </dd>
        </dl>
        <dl class="footer-nav-item">
          <dt><a href="/help.shtml?type=%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98%22">帮助中心</a></dt>
          <dd>
            <ul>
              <li><a href="/help.shtml?type=%E5%B8%B8%E8%A7%81%E9%97%AE%E9%A2%98%22">常见问题</a></li>
              ##<li><span onclick="window.doyoo &amp;&amp; doyoo.util.openChat('g=81009')">在线客服</span></li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="qrcode-group">
        <dl class="qrcode-item">
          <dt><img width="110" height="110" src="/assets/img/service_qrcode.png" alt="投米微信服务号"></dt>
          <dd>投米微信服务号</dd>
        </dl>
        <dl class="qrcode-item">
          <dt><img width="110" height="110" src="/assets/img/wechat_qrcode.png" alt="投米微信订阅号"></dt>
          <dd>投米微信订阅号</dd>
        </dl>
        <dl class="qrcode-item">
          <dt><img width="110" height="110" src="/assets/img/app_qrcode.png" alt="投米网理财APP"></dt>
          <dd>投米网理财APP</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="footer-bd">
    <div class="footer-content">
      <div class="certification">
        <div class="copyright">
          Copyright © 2014-<script>document.write(new Date().getFullYear())</script>，投米科技发展（北京）有限公司版权所有  京ICP备14026425号-1
        </div>
        <div class="organization">
          <a rel="nofollow" href="https://ss.knet.cn/verifyseal.dll?sn=e14090311010153442w0vl000000&ct=df&a=1&pa=0.3011428671889007" target="_blank">
            <img src="/assets/img/knet.png">
          </a>
          <a rel="nofollow" href="http://www.itrust.org.cn/yz/pjwx.asp?wm=2098287037" target="_blank">
            <img src="/assets/img/icp.png">
          </a>
        </div>
      </div>
      <div class="service">
        <div class="hotline">400-078-9900</div>
        <div class="working-hour">工作时间：08:00—21:00</div>
      </div>
    </div>
  </div>
</div>