#parse("/common/widget.vm")
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>$!{title}</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="description" content="$!{description}">
    <meta name="keywords" content="$!{keywords}">
    <!-- build:css /assets/css/base.css -->
    <link rel="stylesheet" href="/assets/css/common/reset.css">
    <link rel="stylesheet" href="/assets/css/common/jquery.ui.css">
    <link rel="stylesheet" href="/dist/assets/css/common/base.css">
    <link rel="stylesheet" href="/dist/assets/css/common/header.css">
    <link rel="stylesheet" href="/dist/assets/css/common/footer.css">
    <link rel="stylesheet" href="/assets/css/theme/jquery.ui.css">
    <link rel="stylesheet" href="/dist/assets/css/theme/header.css">
    <link rel="stylesheet" href="/dist/assets/css/theme/footer.css">
    <link rel="stylesheet" href="/dist/assets/css/common/toolbar.css">
    <!-- endbuild -->
    $!{head}
    <!--[if IE 8]>
    <style>
      .main {
        behavior: url(/assets/iehack/backgroundsize.min.htc);
      }
    </style>
    <![endif]-->
    ## 国双统计代码
    #gridsum
  </head>
  <body>
    $!{body}
    #toolbar
    <!-- build:js /assets/js/vendor.js -->
    <script src="/assets/js/lib/polyfill/es5-shim.js"></script>
    <script src="/assets/js/lib/polyfill/es5-sham.js"></script>
    <script src="/assets/js/lib/jquery.js"></script>
    <script src="/assets/js/lib/plugins/jquery.cookie.js"></script>
    <script src="/assets/js/lib/plugins/jquery.placeholder.js"></script>
    <script src="/assets/js/lib/plugins/jquery.ui.js"></script>
    <script src="/assets/js/lib/plugins/jquery.datepicker.zh_cn.js"></script>
    <!-- endbuild -->
    <!-- build:js /assets/js/common.js -->
    <script src="/assets/js/common/header.js"></script>
    <script src="/dist/assets/js/common.js"></script>
    <script src="/dist/assets/js/toolbar/main.js"></script>
    <!-- endbuild -->
    <script>$('input, textarea').placeholder();</script>
    $!{bodyScript}
    ## 乐语客服脚本
    ##<script type="text/javascript" charset="utf-8" src="http://gate.looyu.com/52372/116788.js"></script>
  </body>
</html>
