parserOptions:
  ecmaVersion: 6
  sourceType: "module"
  ecmaFeatures:
    experimentalObjectRestSpread: true
rules:
  no-console: 0
  max-len: [1, 120, 2]
env:
  node: true
  browser: false
  es6: true
  jquery: false
  mocha: false
