/**
 * Copyright 2015 creditease Inc. All rights reserved.
 * @desc 公共顶部样式
 * @author aiweizhang(aiweizhang@creditease.cn)
 * @date 2015/11/22
 */

@charset "utf-8";

.topbar-content,
.header-content {
  width: 1190px;
  margin: 0 auto;
}

.topbar-content:after,
.header-content:after {
  content: '';
  display: table;
  clear: both;
}

.topbar {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}

.hotline {
  float: left;
}

.top-navbar {
  padding-right: 20px;
  float: right;
  letter-spacing: -3px;
}

.top-navbar > * {
  letter-spacing: normal;
}

.login-area,
.quick-area {
  display: inline-block;
  height: 20px;
  line-height: 20px;
}

.login-area {
  padding-right: 10px;
}

.login-area > a {
  margin: 0 5px;
}

.quick-area {
  margin-left: 15px;
}

.header {
  padding: 16px 0 14px;
  position: relative;
  z-index: 1000;
}

.logo {
  float: left;
}

.logo span {
  vertical-align: middle;
  margin-left: 6px;
  font-size: 14px;
}

.logo span sup {
  bottom: 2px;
  margin: 0 3px 0 2px;
}

.logo-icon {
  display: inline-block;
  width: 142px;
  height: 50px;
  background: url(/assets/img/logo.png) no-repeat;
  line-height: 99em;
  font-size: 30px;
  text-align: center;
  overflow: hidden;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .logo-icon {
    background-image: url(/assets/img/logo@2x.png);
    background-size: cover;
  }
}

.nav {
  float: right;
  padding-right: 20px;
  margin-top: 12px;
  font-size: 14px;
}

.nav li {
  float: left;
  margin-left: 35px;
}

.use-arrow:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border: 6px dashed transparent;
  border-top-style: solid;
  vertical-align: middle;
  margin: 5px 0 0 3px;
}

.sub-nav {
  display: none;
  position: absolute;
  margin-left: -16px;
  padding-top: 5px;
  font-size: 14px;
}

.sub-nav li {
  float: none;
  margin-left: 0;
}

.sub-nav a {
  display: block;
  height: 34px;
  line-height: 34px;
  padding: 0 40px 0 20px;
}

.sub-nav li:first-child {
  margin-top: -.5px;
}

.sub-nav li:first-child:before,
.sub-nav li:first-child:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
}

.sub-nav li:first-child:before {
  top: -6px;
  margin-left: -10px;
  border: 6px dashed transparent;
  border-bottom-style: solid;
}

.sub-nav li:first-child:after {
  top: -4px;
  margin-left: -9px;
  border: 5px dashed transparent;
  border-bottom-style: solid;
}
