/**
 * Copyright 2015 creditease Inc. All rights reserved.
 * @desc 工具栏样式模块
 * @author aiweizhang(aiweizhang@creditease.cn)
 * @date 2015/11/22
 */

@charset "utf-8";

.toolbar {
  position: fixed;
  z-index: 1999;
  top: 0;
  right: -330px;
  bottom: 0;
  width: 360px;
  color: #fff;
  font-size: 14px;
  transform: translateX(330px);
  /*transition: transform .6s ease;*/
}

.toolbar a {
  color: #fff;
}

.toolbar-tabs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30px;
  padding-top: 20px;
  background-color: #333;
}

.toolbar-tab-item {
  width: 100%;
  padding: 10px 5px;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  background-color: #414247;
}

.toolbar-tab-item:hover,
.toolbar-tab-item.active {
  background-color: #ff6000;
}

.toolbar-tab-item [class^="icon-"],
.toolbar-tab-item [class*=" icon-"] {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
}

.toolbar-calculator-btn {
  margin-bottom: 1px;
}

.earnings-btn-content {
  display: block;
  margin-top: 5px;
  line-height: 1.3;
}

.toolbar-backtop {
  position: absolute;
  bottom: 0;
  padding-bottom: 5px;
}

.toolbar-backtop .icon-backtop {
  font-size: 16px;
}

.toolbar-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 330px;
  border-left: 2px solid #ff6000;
  background-color: #444;
  padding: 20px;
  box-sizing: border-box;
}

.toolbar-content > div {
  display: none;
}

.toolbar-content .column-4 {
  width: 33.333333%;
}

.toolbar-content .column-5 {
  width: 41.666666%;
}

.toolbar-content .column-6 {
  width: 50%;
}

.toolbar-content .column-7 {
  width: 58.333333%;
}

.toolbar-content .column-8 {
  width: 66.666666%;
}

.toolbar-content .column-12 {
  width: 100%;
}

.toolbar-content .column-right {
  float: right;
  text-align: right;
}

.toolbar-calculator {
  position: absolute;
  left: 20px;
  top: 20px;
  bottom: 20px;
  right: 0;
  padding-right: 20px;
  overflow-y: auto;
}

.toolbar-calculator-title > h3 {
  font-size: 18px;
}

.calculator-content {
  padding-top: 10px;
}

.investment-plate {
  overflow: hidden;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #999;
}

.calculator-form-group {
  float: left;
  padding: 4px 0 0;
  box-sizing: border-box;
}

.calculator-form-control {
  float: left;
  border: 1px solid #010000;
  border-right-color: #666;
  border-bottom-color: #666;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}

.calculator-form-group.column-horizontal .calculator-form-control {
  width: 66%;
}

.calculator-form-group .calculator-form-control.datepicker-control {
  width: 50%;
}

.calculator-form-group.no-label-control .datepicker-control {
  width: 73%;
}

.calculator-form-control.datepicker-control input {
  user-select: none;
}

.calculator-form-control.error {
  border-color: #f90;
  color: #f90;
}

.calculator-form-group label {
  color: #ccc;
  font-size: 12px;
}

.calculator-form-group.special-form-group label {
  display: inline-block;
  padding: 4px 0 10px;
}

.calculator-form-group.column-horizontal label {
  float: left;
  height: 28px;
  line-height: 28px;
  margin-right: 5px;
}

.calculator-form-control.error input {
  color: #f90;
}

.calculator-form-control input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #999;
  float: left;
  width: 100%;
  padding: 0;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
}

.calculator-form-control input.use-unit-control {
  width: 70%;
}

.calculator-form-control.special input {
  width: 90%;
  height: 24px;
  line-height: 24px;
  font-size: 18px;
}

.calculator-form-control .unit {
  float: right;
  width: 20px;
  text-align: center;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
}

.calculator-form-control.special .unit {
  height: 20px;
  line-height: 20px;
}

.calculator-checkbox {
  float: none;
  width: 12px;
  height: 12px;
  margin: -2px 2px 0 0;
  vertical-align: middle;
}

/*.datepicker-choose-btn {
  display: block;
  float: left;
  margin-left: 5px;
  width: 26px;
  height: 24px;
  background: url(/assets/img/datepicker_icon.png) no-repeat;
  cursor: pointer;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .datepicker-choose-btn {
    background-image: url(/assets/img/datepicker_icon@2x.png);
    background-size: 100% 100%;
  }
}*/

.calculator-tips {
  padding-top: 4px;
  height: 20px;
  line-height: 20px;
  color: #ccc;
  font-size: 12px;
  clear: both;
}

.calculator-opeartion {
  overflow: hidden;
  padding-top: 10px;
  clear: both;
  text-align: center;
}

.calculator-opeartion input {
  background-color: #777777;
  font-size: 16px;
  border: 1px solid #999;
  border-right-color: #292929;
  border-bottom-color: #292929;
  color: #fff;
  height: 36px;
  outline: none;
}

.calculator-opeartion input:hover {
  background-color: #999;
}

.calculator-calculate {
  width: 180px;
  float: left;
}

.calculator-reset {
  width: 90px;
  float: right;
}

.calculate-result {
  padding-top: 20px;
}

.result-plate {
  border-top: 1px solid #302f2f;
  display: none;
}

.result-plate > ul {
  padding: 6px 0;
}

.result-plate:before {
  content: '';
  display: block;
  height: 1px;
  line-height: 1px;
  width: 100%;
  background-color: #666;
}

.result-plate li {
  height: 26px;
  line-height: 26px;
}

.result-part-cash,
.result-all-cash {
  display: none;
}

.cash-plate {
  overflow: hidden;
}

.result-item-label {
  float: left;
}

.result-item-content {
  float: right;
  color: #fc6;
}

.cash-tips {
  margin: 10px 0 5px;
  text-align: center;
}

.cash-tips span {
  margin: 0 3px;
  color: #fc6;
}

.rate-question {
  color: #5fafd7;
  float: left;
  margin-left: 3px;
}

.rate-question:hover:after {
  left: -105px;
}

.ui-datepicker {
  margin-top: 5px;
  font-size: 12px;
}

.ui-datepicker-trigger {
  position: absolute;
  padding: 0;
  border: none;
  background: transparent;
  height: 24px;
  width: 26px;
  margin: -4px 0 0 11px;
  outline: none;
}

.ui-datepicker-trigger img {
  width: 100%;
}
